@use "@picocss/pico/scss/settings" as *;
@use "sass:map";

@mixin no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin no-user-drag {
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	user-drag: none;
}

@function get-breakpoint( $size, $property: 'breakpoint' ) {
	@return map.get( map.get( $breakpoints, $size ), $property );
}

@mixin respond-to( $size, $type: 'max' ) {
	$breakpoint-value: get-breakpoint( $size, 'breakpoint' );

	@if $breakpoint-value {
		@media ( #{$type}-width: $breakpoint-value ) {
			@content;
		}
	} @else {
		@warn "Breakpoint #{$size} not found in $breakpoints map.";
	}
}
