// External dependencies.
@use "@picocss/pico/scss/colors" as *;
@use "@picocss/pico/scss/pico" with (
	$css-var-prefix: "--3i-",
	$theme-color: "jade",
);

@use "mixins" as *;

// Components.
@use "components/typography";
@use "components/header";
@use "components/logo";
@use "components/button";
@use "components/input";
@use "components/mark";
@use "components/dialog";
@use "components/searchable-input";
@use "components/stepper";
@use "components/language-switcher";
@use "components/footer";

@use "auth";
@use "sections/hero";
@use "pages/apply";
@use "pages/application-details";
@use "pages/processing-time";
@use "pages/review";

// Flag icons for country flags.
@import "flag-icons/css/flag-icons.css";

// Variables.
:root {
	// Fonts.
	--3i-font-family: 'Figtree', ui-sans-serif, system-ui, sans-serif;
	--3i-font-family-monospace: 'Geist Mono', monospace;

	--3i-font-size: 105%;
	--3i-border-radius: .7rem;

	--3i-form-element-spacing-horizontal: 1.3rem;
}

[data-theme="light"] {
	--3i-background-color: #FFFFFF !important; // #FAFAF9 !important;
	--3i-font-color: oklch( 0.268 0.007 34.298 );
	--3i-border-color: #E7E5E4;
	--3i-form-element-border-color: #E7E5E4 !important;
	--3i-form-element-active-border-color: rgb(90, 90, 90) !important;
	--3i-form-element-focus-color: rgb(90, 90, 90) !important;
	--3i-form-element-invalid-border-color: #DC2626 !important;

	// --3i-h1-color: black !important;
	--3i-text-selection-color: #{$jade-100} !important;

}

::selection {
	color: black;
}

// Body.
html {
	&.no-overscroll {
		overscroll-behavior: none;
	}
}

body {
	overflow-x: hidden;

	&.lock-scroll {
		overflow: hidden;
	}
}

a {
	cursor: pointer;
}


// Spacing.
.mt {
	&-0 { margin-top: 0 !important; }
	&-1 { margin-top: calc( var( --3i-spacing ) * 0.25 ) !important; }
	&-2 { margin-top: calc( var( --3i-spacing ) * 0.5 ) !important; }
	&-3 { margin-top: calc( var( --3i-spacing ) * 0.75 ) !important; }
	&-4 { margin-top: calc( var( --3i-spacing ) * 1 ) !important; }
	&-5 { margin-top: calc( var( --3i-spacing ) * 1.5 ) !important; }
	&-6 { margin-top: calc( var( --3i-spacing ) * 2 ) !important; }
	&-7 { margin-top: calc( var( --3i-spacing ) * 3 ) !important; }
}

.mb {
	&-0 { margin-bottom: 0 !important; }
	&-1 { margin-bottom: calc( var( --3i-spacing ) * 0.25 ) !important; }
	&-2 { margin-bottom: calc( var( --3i-spacing ) * 0.5 ) !important; }
	&-3 { margin-bottom: calc( var( --3i-spacing ) * 0.75 ) !important; }
	&-4 { margin-bottom: calc( var( --3i-spacing ) * 1 ) !important; }
	&-5 { margin-bottom: calc( var( --3i-spacing ) * 1.5 ) !important; }
	&-6 { margin-bottom: calc( var( --3i-spacing ) * 2 ) !important; }
	&-7 { margin-bottom: calc( var( --3i-spacing ) * 3 ) !important; }
}

.ml {
	&-0 { margin-left: 0 !important; }
	&-1 { margin-left: calc( var( --3i-spacing ) * 0.25 ) !important; }
	&-2 { margin-left: calc( var( --3i-spacing ) * 0.5 ) !important; }
	&-3 { margin-left: calc( var( --3i-spacing ) * 0.75 ) !important; }
	&-4 { margin-left: calc( var( --3i-spacing ) * 1 ) !important; }
	&-5 { margin-left: calc( var( --3i-spacing ) * 1.5 ) !important; }
	&-6 { margin-left: calc( var( --3i-spacing ) * 2 ) !important; }
	&-7 { margin-left: calc( var( --3i-spacing ) * 3 ) !important; }
}

.mr {
	&-0 { margin-right: 0 !important; }
	&-1 { margin-right: calc( var( --3i-spacing ) * 0.25 ) !important; }
	&-2 { margin-right: calc( var( --3i-spacing ) * 0.5 ) !important; }
	&-3 { margin-right: calc( var( --3i-spacing ) * 0.75 ) !important; }
	&-4 { margin-right: calc( var( --3i-spacing ) * 1 ) !important; }
	&-5 { margin-right: calc( var( --3i-spacing ) * 1.5 ) !important; }
	&-6 { margin-right: calc( var( --3i-spacing ) * 2 ) !important; }
	&-7 { margin-right: calc( var( --3i-spacing ) * 3 ) !important; }
}

// Display helpers.
.display-desktop-only {
	@include respond-to( lg, 'min' ) {
		display: block !important;
	}
	@include respond-to( lg, 'max' ) {
		display: none !important;
	}
}

.display-mobile-only {
	@include respond-to( lg, 'min' ) {
		display: none !important;
	}
	@include respond-to( lg, 'max' ) {
		display: block !important;
	}
}

.hide-mobile {
	@include respond-to( md ) {
		display: none !important;
	}
}

// TODO: Move
.grid {
	&.row {
		display: flex;
		justify-content: center;
		flex-direction: row;
	}

	&.column {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	&.no-row-gap {
		grid-row-gap: 0;
	}
}


// TODO: Move
.layout.home {
	background: radial-gradient(circle at 85% 5%, rgba(0, 212, 116, 0.3) 0%, rgba(255, 255, 255, 0.0) 10%),
      radial-gradient(circle at 5% 11%, rgba(109, 219, 255, 0.20) 0%, rgba(255, 255, 255, 0.0) 10%),
      radial-gradient(circle at 90% 43%, rgba(0, 212, 116, 0.2) 0%, rgba(255, 255, 255, 0.0) 15%),
      radial-gradient(circle at 5% 70%, rgba(0, 212, 116, 0.2) 0%, rgba(255, 255, 255, 0.0) 12%),
      radial-gradient(circle at 95% 86%, rgba(109, 219, 255, 0.2) 0%, rgba(255, 255, 255, 0.0) 12%),
      #fff;
}

.home-image {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 4rem;

	img.traveler {
		width: 100%;
		max-width: 420px;
		z-index: 1;

		@include respond-to( 'lg' ) {
			max-width: 300px;
		}
	}

	img.line {
		position: absolute;
		bottom: 30px;
		width: 100%;
	}
}


// TODO: Move
main.landing {
	display: flex;
	flex-direction: column;
	align-items: center;

	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin-block: var( --3i-section-spacing-vertical );

		@include respond-to( lg, 'max' ) {
			margin-block: calc( var( --3i-section-spacing-vertical ) / 2 );
		}

		&.small {
			max-width: 800px;
		}

		&.medium {
			max-width: 950px;
		}

		&.large {
			max-width: 1100px;
		}

		hgroup {
			text-align: center;
			margin-inline: auto;
			margin-bottom: calc(var(--3i-spacing) * 5);

			h2 {
				font-size: 2rem;
				margin-bottom: var(--3i-spacing);
			}

			p {
				text-wrap: pretty;
				color: var(--3i-original-color);
			}
		}
	}
}



// TODO: Move outside.
.icon-link {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	text-align: center;
	width: 2rem !important;
	height: 2rem !important;
	border-radius: 50%;
	color: var( --3i-h1-color );
	transition: .3s !important;
	border: 1px solid transparent !important;

	&:hover, &:focus {
		border-color: rgba( var( --3i-h1-color ), .1 );
		background-color: rgba( var( --3i-h1-color ), 0.15 ) !important;
		color: var( --3i-h1-color ) !important;
	}

	&:active, &:focus-within {
		border-color: var( --3i-muted-border-color ) !important;
		color: var( --3i-h1-color ) !important;
	}

	svg {
		width: 1.2em;
		height: 1.2em;
	}
}


