@use "@picocss/pico/scss/colors" as *;

a[role="button"], button, button[role="button"], button[type="button"], button[type="submit"], summary[role="button"] {
	--3i-font-weight: 500;
	font-size: .9rem;
	border-width: 1px;
	border-radius: .7rem;
	padding: calc( var( --3i-form-element-spacing-vertical ) * 1.05 ) var( --3i-form-element-spacing-horizontal );
	transition: .2s;
	box-shadow: inset 0px 1px color-mix( in oklab, #fff 30%, transparent ) !important;
	border-color: #015638;
	background-color: $jade-450;

	&:active {
		transform: scale( .97 );
	}

	&.outline:hover {
		outline: .8px solid !important;
	}

	&.contrast {
		border-color: black;
		background-color: #222;
	}

	&.white {
		background-color: white;
		color: var( --3i-font-color ) !important;
		box-shadow: 0 1px 2px 0 rgb( 0 0 0 / 0.05 );
		border-color: oklch( 88% 0.003 48.717 );

		&:hover {
			background-color: #FAFAFA;
		}

		@supports ( color: color-mix( in lab, green, green ) ) {
			border-bottom-color: color-mix( in oklab, oklch( 86.9% 0.005 56.366 ) 80%, transparent );
		}
	}

	&.vendor-login-button {
		svg {
			margin-right: .5rem;
		}
	}

	&.flex {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}