input:not([type=checkbox], [type=radio]), select, textarea, details.dropdown summary {
	border-radius: .7rem;
	border: 1.5px solid var( --3i-border-color );
	font-size: .95rem !important;
	background-color: white;
	box-shadow: 0 1px 2px 0 rgb( 0 0 0 / 0.05 );

	&:focus {
		outline: 1px solid !important;
	}

	// Change placeholder color.
	&::placeholder {
		color: var( --3i-muted-color );
	}
}